/Criteria.class
/ELevelSubject.class
/TimeTable.class
/DayOfWeek.class
/SubjForDay.class
/OneSubject.class
/Config.class
/Week.class
/NonRepeatuSbject.class
/LoadingRoom.class
/LoadingTeacher.class
/GenerationProcess.class
